Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.log
config.status
configure
depcomp
fblogo
include/config.h
include/config.h.in
include/stamp-h1
install-sh
missing
src/.deps/
src/.dirstamp
src/*.o
